body {
    background-color: #8f84ec;
    font-family: 'Times New Roman', Times, serif;
}

.main-title {
    text-align: center;
    color: #fff;
    font-weight: bolder;
}

.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 700px;
}

.recipe-collections {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    font-weight: bold;
}

.recipe-items {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li a {
    text-decoration: none;
    background-color: lightblue;
    padding: 30px;
    font-size: 25px;
    border-radius: 18px;
}

li a:hover {
    background-color: blue;
    color: #fff;
}
